<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/942335a2e1.js" crossorigin="anonymous"></script>
    <title>BoolZap</title>
</head>
<body>

    <div id="app">

        <div id="sfondo">
            <div id="header-sfondo">
    
            </div>
    
            <div id="main-wrapper">
    
                <div id="main-container">
                    
                    <div id="chat-list">
                        <div class="header-chat">
                            <div class="img-wrapper">
                                <div class="img-profilo">
                                    <img src="https://picsum.photos/200" alt="">
                                </div>
                                <div class="nome">
                                    Elena
                                </div>
                            </div>
    
                            <div class="icon-wrapper">
                                <div>
                                    <i class="fa-solid fa-circle-notch"></i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-message"></i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
    
                        <div id="notifiche" class="header-chat">
                            <div id="flex-2" class="img-wrapper">
                                <div id="position" class="img-profilo">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <div>
                                    <div class="nome">
                                        Ricevi notifiche di nuovi utenti
                                    </div>
                                    <div id="link">
                                        Attiva notifiche desktop
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="input-chat-list-wrapper">

                            <i id="padding-left" class="fa-solid fa-magnifying-glass"></i>

                            <input id="input-chat-list" @keyup.enter="cercaContatto" v-model="contatto" placeholder="Cerca contatto">

                        </div>

                            <div @click="displayMessages(index)" id="chat-background-color" class="header-chat" v-for="(element, index) in filterContacts">
                                <div id="flex-2" class="img-wrapper">
                                    <div id="position" class="img-profilo">
                                        <img :src="element.avatar" alt="">
                                    </div>
                                    <div>
                                        <div class="nome">
                                            {{ element.name }}
                                        </div>
                                        <div class="accesso">
                                            Last message
                                        </div>
                                    </div>

                                    <div id="accesso-chat-list" class="accesso">
                                        28/02/2022 12:07
                                    </div>
                                </div>
                            </div>
    
                    </div>
    
                    <div id="chat">
                        <div class="header-chat">
                            <div id="flex-2" class="img-wrapper">
                                <div id="position" class="img-profilo">
                                    <img src="https://picsum.photos/200" alt="">
                                </div>
                                <div>
                                    <div class="nome">
                                        {{currentName}}
                                    </div>
                                    <div class="accesso">
                                        Ultimo accesso 28/02/2022 12:07
                                    </div>
                                </div>
                            </div>
    
                            <div class="icon-wrapper">
                                <div>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-paperclip"></i>
                                </div>
                                <div>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>

                        <div class="chat-wrapper">
                            <div v-for="message in currentMessages" class="messaggio-wrapper" :class="(message.status) ? 'sent-wrapper' : 'received-wrapper'">

                                <div class="messaggio" :class="(message.status) ? 'sent' : 'received'">
                                    <div class="contenuto testo-messaggio">
                                        {{message.text}}
                                    </div>
                                    <div class="contenuto data-messaggio">
                                        {{message.date}}
                                    </div>
                                </div>                            
                            </div>
                        </div>

                        <div class="input-chat">

                            <div class="emojis">
                                <i class="fa-solid fa-face-smile"></i>
                            </div>

                            <div class="input-chat-input">
                                <input v-model="messaggio" @keyup.enter="sendMessage" placeholder="Scrivi messaggio">
                            </div>

                            <div class="emojis">
                                <i class="fa-solid fa-microphone"></i>
                            </div>

                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>

    </div>
    
    <script src="myscript.js"></script>
</body>
</html>